$LG_BREAKPOINT: 768px;

// font
$FONT_MAIN: 'Noto Sans KR', sans-serif; 
$FONT_XS: 12px;
$FONT_S: 14px;
$FONT_BASE: 16px;
$FONT_L: 20px;
$FONT_XL: 24px;
$FONT_XXL: 30px;

// color
$COLOR_BLACK: #000;
$COLOR_PRIMARY: #343A40;
$COLOR_GRAY_DARKEN: #7C7C7C;
$COLOR_GRAY_LIGHTEN: #CCCCCC;
$COLOR_BORDER: #E5E5E5;

$COLOR_RED: #F03E3E;
$COLOR_ORANGE: #FF8B4A;
$COLOR_GREEN: #51CF66;
$COLOR_WHITE: #fff;
$KEY_COLOR: #339AF0;

// base setting
$BOX_SHADOW: 0px 4px 12px 2px rgba(black, 0.1);
$BORDER_RADIOUS: 10px;
$OPACITY: .8;


$LG_PADDING_VERTICAL: 25px;
$LG_PADDING_HORIZONTAL: 15px;

$INNER_PADDING_VERTICAL: 15px;
$INNER_PADDING_HORIZONTAL: 10px;
$INNER_PADDING_SMALL: 5px;


// component
$LG_HEADER_HEIGHT: 100px;
$SM_HEADER_HEIGHT: 70PX;


$DEEMED: rgba($COLOR_BLACK, .2);

$TAG_WIDTH: 100px;
$TAG_HEIGHT: 24px;

$BUTTON_HEIGHT: 50px;
$BUTTON_BOX_SHADOW: 1px 2px 3px 0 rgba(black, 0.25);

$UPLOAD_IMAGE_SIZE: 200px;

// index
$LOADING_INDEX: 1000;
$HEADER_INDEX: 100;
$TAG_AREA_INDEX: 10;